#MainMenu {
    visibility: hidden;
}
footer {
    visibility: hidden;
}
.stAppHeader {
    display: block;
}
.stAppToolbar {
    display: block;
}
.stAppDeployButton {
    visibility: hidden;
}
[data-testid="stStatusWidget"] {
    visibility: hidden;
}
#GithubIcon {
    visibility: hidden;
}
.css-1jc7ptx, .e1ewe7hr3, .viewerBadge_container__1QSob,
.styles_viewerBadge__1yB5_, .viewerBadge_link__1S137,
.viewerBadge_text__1JaDK {
    display: none;
}